@page "/product"
@page "/product/{ProductId}"
@inherits ProductEditBase

<div class="entity-edit">
    <h1 class="page-title">Add New Product</h1>

    <EditForm Model="@ProductItem" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group row">
            <label for="Barcode" class="col-sm-3">Barcode: </label>
            <InputText id="Barcode" class="form-control col-sm-8" @bind-Value="@ProductItem.Barcode" placeholder="Enter Barcode"></InputText>
        </div>
        <div class="form-group row">
            <label for="Name" class="col-sm-3">Name: </label>
            <InputText id="Name" class="form-control col-sm-8" @bind-Value="@ProductItem.Name" placeholder="Enter Name"></InputText>
        </div>
        <div class="form-group row">
            <label for="Description" class="col-sm-3">Description: </label>
            <InputTextArea id="Description" class="form-control col-sm-8" @bind-Value="@ProductItem.Description" placeholder="Enter Description"></InputTextArea>
        </div>
        <div class="form-group row">
            <label for="AlertQuantity" class="col-sm-3">Alert Quantity: </label>
            <InputNumber id="AlertQuantity" class="form-control col-sm-8" @bind-Value="@ProductItem.AlertQuantity" placeholder="Enter Alert Quantity"></InputNumber>
        </div>
        <div class="form-group row">
            <label for="Tags" class="col-sm-3">Tags: </label>
            <InputTextArea id="Tags" class="form-control col-sm-8" @bind-Value="@Tags" placeholder="Enter Tags"></InputTextArea>
        </div>
        <div class="form-group row">
            <hr />
        </div>
        <div class="form-group row">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <table class="table">                            
                            <tr>
                                <td>
                                    <InputSelect id="expenseStatus" class="form-control col-sm-8" @bind-Value=@LocationId>
                                        @foreach (var location in Locations)
                                        {
                                            <option value="@(location.Id)">@location.Name</option>
                                        }
                                    </InputSelect>
                                </td>
                                <td><InputNumber id="AlertQuantity" class="form-control col-sm-8" @bind-Value="@ProductQuantity" placeholder="Enter Quantity"></InputNumber></td>
                                <td><button type="button" class="btn btn-primary" @onclick="() => AddStoreItem(LocationId, ProductQuantity)"><i class="fas fa-plus"></i></button></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Location</th>
                                    <th>Quantity</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var storedItem in ProductItem.StoreItems)
                                {
                                <tr>
                                    <td>@storedItem.Location</td>
                                    <td>@storedItem.Quantity.ToString()</td>
                                    <td>
                                        <button type="button" class="btn btn-primary" @onclick="() => DeleteStoreItem(storedItem.LocationId)"><i class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>            
        </div>      

        <button type="submit" class="btn btn-primary edit-btn">Save Product</button>
    </EditForm>
</div>